---
layout: default
title: KorGE Store
---

<h1>Starter Kits (<a href="/starterkits.json" target="_blank"><code>starterkits.json</code></a>)</h1>
<ul>
{% for kit in site.starterkits %}
{% if kit.enabled %}
    <li>
        <a href="{{ kit.url }}">
            <img src="{{ kit.screenshot }}" style="width:100px;" />
            {{ kit.title }}
        </a>
    </li>
{% endif %}
{% endfor %}
</ul>

<h1>Modules</h1>
<ul>
    {% assign grouped_modules = site.modules | group_by: "category" %}
    {% for grouped_module in grouped_modules %}
    <h2>{{ grouped_module.name }}</h2>
    {% assign modules = grouped_module.items %}
    {% for module in modules %}
    <li>
        <a href="{{ module.url }}">
            <img src="{{ module.icon }}" style="width:100px;" />
            {{ module.title }}
        </a>
    </li>
    {% endfor %}
    {% endfor %}
</ul>
