---
layout: default
title: KorGE Store
---

<h1>Starter Kits (<a href="/starterkits.json" target="_blank"><code>starterkits.json</code></a>)</h1>
<ul>
{% for kit in site.starterkits %}
{% if kit.enabled %}
    <li>
        <a href="{{ kit.url }}">
            <img src="{{ kit.screenshot }}" style="width:100px;" />
            {{ kit.title }}
        </a>
    </li>
{% endif %}
{% endfor %}
</ul>

<h1>Modules</h1>
<ul>
    {% for module in site.modules %}
    <li>
        <a href="{{ module.url }}">
            <img src="{{ module.icon }}" style="width:100px;" />
            {{ module.title }}
        </a>
    </li>
    {% endfor %}
</ul>
