<p>
    Download <a href="{{ include.url }}" target="_blank"><code>{{ include.name }}</code></a>
    {% if include.prefix == "sfx" %}
        <button class="btn btn-primary" onclick='return playSound(this, {{ include.url | jsonify }})'>▶️</button>
    {% else %}
        <a href="{{ include.url }}" class="btn btn-primary" target="_blank" data-fancybox data-caption="Single image">👁️</a>
    {% endif %}

    <button class="btn btn-success show-intellij-inline-block" onclick='return downloadAsset(this, {{ include.url | jsonify }}, {{ include.unzip | default: false | jsonify }}, {{ include.prefix | jsonify }}, undefined, {{ include.author }})'>
        💾
    </button>
</p>
