<h3>Authors:</h3>
<ul class="list-group">
    {% for author in include.authors %}
        {% assign author_start = author | slice: 0, 8 %}
        {% if author_start == "https://" %}
        <a class="list-group-item list-group-item-action" href="{{ author}}" target="_blank" style="font-size: 1.25em;white-space: nowrap">
            <img src="{{ author}}/favicon.ico" style="width:1em;height:1em;margin-top:-.2em;" />&nbsp;{{ author | slice: 8, 1000 | remove: "/" }}
        </a>
        {% else %}
        <a class="list-group-item list-group-item-action" href="https://github.com/{{ author}}" target="_blank" style="font-size: 1.25em;white-space: nowrap">
            <img src="https://github.com/{{ author}}.png" style="width:1em;height:1em;margin-top:-.2em;" />&nbsp;{{ author }}
        </a>
        {% endif %}
    {% endfor %}
</ul>
