<div class="col col-sm-4 col-md-3 col-lg-3 col-xl-2">
    <div class="card single-features" style="width:160px;height: 160px;margin-bottom:16px;">
        <!--
        <img src="{{ include.screenshot }}" class="card-img-top" style="height:160px;" alt="{{ module.title }}"/>
        -->
        {% assign screenshot_size = include.screenshot_size | default: "cover" %}
        {% assign screenshot_position = include.screenshot_position | default: "center" %}
        <div class="card" style="background-image: url('{{ include.screenshot }}'); background-size:{{ screenshot_size }}; background-repeat: no-repeat; background-position: {{ screenshot_position }}; width:100%;height:100%;">
            {% if include.show_title != false %}
            <div style="backdrop-filter:blur(4px);position:absolute;bottom:0;width:100%;">
                <div style="background:rgba(0,0,0,0.3);padding: 8px;">
                <a href="{{ include.url }}" style="color:white !important;text-decoration:none !important;">
                    <small style="font-size:0.9em;">{{ include.title }}</small>
                </a>
                </div>
            </div>
            {% else %}
            <a href="{{ include.url }}" style="visibility: hidden;">{{ include.title }}</a>
            {% endif %}
            <div class="d-none content">
                {{ include.content }}
            </div>
        </div>
    </div>
</div>
