<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>
    <meta name="description" content="List of Awesome KorGE Assets, Modules, Plugins & Libraries">

    <link rel="shortcut icon" href="/i/favicon.png" type="image/png">

    <link rel="stylesheet" href="/i/css/bootstrap.css">

    <link rel="icon" href="/i/icon.png" />
    <script src="/i/common.js?v=2" type="text/javascript"></script>
    <script src="/i/jquery-3.6.4.min.js" type="text/javascript"></script>
    <script src="/i/js/bootstrap.js" type="text/javascript"></script>

    <link href="/i/fontawesome/css/all.css" rel="stylesheet">

    <link rel="stylesheet" href="/i/styles.css">
    {% include analytics.html %}
</head>

<body>
<script>
    if (window.insideKorgeIntellij) {
        document.body.setAttribute("data-theme", "intellij")
        document.body.classList.add("intellij")
    }
</script>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="background-color: rgba(255, 255, 255, 0.3) !important; backdrop-filter: blur(5px)">
    <a class="navbar-brand" href="/"><img src="/i/logo.svg" style="height:1.5em;margin-top:-5px;margin-right:4px;" />KorGE Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://merch.korge.org/" target="_blank">Merch</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="https://docs.korge.org/" target="_blank">Docs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://blog.korge.org/" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://korge.org/" target="_blank">Landing</a>
            </li>
            <!--
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Link
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Link</a>
            </li>
            -->
        </ul>
        <form class="form-inline">
            <a target="_blank" href="https://github.com/korlibs/store.korge.org#korge-store" class="btn btn-outline-success" type="button">+ Add</a>
        </form>
        <!--
        <form class="d-flex">
            <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        -->
    </div>
</nav>

<div id="main-content">
    <div style="padding-top:22px;">

        <div class="container">
            <div class="row">
                <div id="debug-box" style="margin-bottom: 22px;"></div>
            </div>
        </div>
        <script>
            if (/^http:\/\/(127\.0\.0\.1|localhost)/.test(document.location.href)) {
                document.getElementById("debug-box").textContent = document.location.href
            }
        </script>


        {{content}}
    </div>
</div>

<script>
    document.body.onclick = (e) => {
        if (window?.jcefFunctions?.openNativeBrowser) {
            if (e.target.tagName.toUpperCase() === "A") {
                if (e.target.href.startsWith("https://") || e.target.href.startsWith("http://")) {
                    if (
                        !e.target.href.startsWith("http://127.0.0.1:4000")
                        && !e.target.href.startsWith("http://localhost:4000")
                        && !e.target.href.startsWith("https://store.korge.org")
                    ) {
                        //alert(e.target)
                        window?.jcefFunctions?.openNativeBrowser?.(e.target.href)
                        return false
                    }
                }
            }
        }
    }
</script>
</body>
</html>
