---
layout: default
title: My Page
---

{% assign pageLinkParts = page.link | remove_first: "https://" | split: "/" %}
{% capture pageTitle %}github.com-{{ pageLinkParts[1] }}-{{ pageLinkParts[2] }}{% endcapture %}
{% assign repotag = site.repotags | where:"title", pageTitle | first %}
{% assign defaultTagP = repotag.tags|first|first %}
{% assign defaultTag = defaultTagP|first | default: "main" %}
{% assign defaultHash = defaultTagP|last | default: "main" %}
{% capture treeReplace %}/tree/{{ defaultTag }}/{% endcapture %}
{% assign link = page.link | replace: "/tree/main/", treeReplace %}

<script>
    const moduleEntry = {
        "cannonicalUrl": {{ page.link | absolute_url | jsonify }},
        "title": {{ page.title | jsonify }},
        "icon": {{ page.icon | absolute_url | jsonify }},
        "authors": {{ page.authors | default: "[korlibs]" | jsonify }},
    };
    const cannonicalUrl = {{ page.link | jsonify }};
    const defaultTag = {{ defaultTag | jsonify }};
    let currentCommitId = 'main';
    let currentUrl = cannonicalUrl;
    const tags = {
        {% for tag in repotag.tags -%}
        {% for t in tag -%}
        {{t|first|jsonify}}: {{t|last|jsonify}},
        {%- endfor %}
        {% endfor %}
    };
</script>

<div class="container">
    <div class="row">
        <h1>{{ page.title }}</h1>
    </div>
    <div class="row ">
        <div class="col-3 order-2">
            {% include authors.html authors=page.authors %}

            <h3>
                Tags:
            </h3>
            <ul class="list-group">
                {% for tag in repotag.tags %}
                {% for t in tag %}
                <a href="#{{t|first}}" class="tagref list-group-item list-group-item-action">
                    {{ t | first }}
                    {% assign commitId = t | last %}
                    {% assign date = repotag.dates[commitId] %}
                    {% if date %}
                    <small class="badge badge-info">{{ date | date: "%Y-%-m-%d" }}</small>
                    {% endif %}
                </a>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-9">
            <img src="{{ page.icon }}" style="width:128px;" />
        <p>
<pre style="background:#eee; padding: 8px 16px; border-radius: 8px;margin:8px;">
dependencies:
- <span
    class="codechunk"
    data-link="{{ page.link }}"
><a href="{{ link }}" target="_blank">{{ link }}</a>##{{defaultHash}}</span>
</pre>
            <a id="get-code-button" class="add-to-intellij btn btn-primary" style="display: none" href="#">+ Add to IntelliJ</a>
        </p>

        {{ content }}

        </div>

    </div>
</div>

<style>
.tagref.selected {
    font-weight: bold;
}
</style>

<script>
    let currentTag = defaultTag;

    function getUrlForTag(tag) {
        if (tag === undefined || tag === '') tag = defaultTag;
        const commitId = tags[tag]
        const url = cannonicalUrl.replace(/\/tree\/main\//, `/tree/${tag}/`)
        return {url, commitId}
    }

    function updateTags() {
        document.querySelectorAll(".tagref").forEach((it) => {
            const tag = it.href.split('#')[1]
            if (tag === currentTag) {
                it.classList.add("active")
            } else {
                it.classList.remove("active")
            }
        })
    }

    function updatedUrl() {
        let tag = document.location.href.split('#')[1]
        if (tag === undefined || tag === '') tag = defaultTag;
        const {commitId,url} = getUrlForTag(tag)
        currentTag = tag
        currentUrl = url;
        currentCommitId = commitId;
        //console.log(tag, commitId)
        document.querySelector(".codechunk").innerHTML = `<a href="${url}" target="_blank">${url}</a>##${commitId}`
        updateTags()
    }

    updatedUrl()

    window.onpopstate = function(event) {
        updatedUrl()
    };


    /*
    async function downloadGithubFile(org, repo, ref, path) {
        const result = await fetch(`https://api.github.com/repos/${org}/${repo}/contents/${path}?ref=${ref}`)
        const json = await result.json()
        return atob(json.content.trim())
    }

    (async () => {
        //const content = await downloadGithubFile('korlibs', 'korge-jitto', '0.0.4', '/korge-jitto/README.md')
        const content = await downloadGithubFile('korlibs', 'korge-jitto', '0.0.4', '/korge-jitto/kproject.yml')
        const div = document.createElement("div")
        div.innerText = `${content}`
        document.body.appendChild(div)
    })();
     */

    /*
    (async () => {
        const result = await fetch("https://api.github.com/repos/korlibs/korge-dragonbones/tags")
        const json = await result.json()
        console.log(json)
        const div = document.createElement("div")
        div.innerText = `${JSON.stringify(json)}`
        document.body.appendChild(div)
    })();

     */
</script>

<script>
    //alert([...document.querySelectorAll(".bundle-entry")])

    async function getKProjectDependencies() {
        return window?.jcefFunctions?.getKProjectDependencies?.({})
    }

    async function init() {
        if (!window?.jcefFunctions?.installKProjectDependency) return

        const plugins = (await getKProjectDependencies()) || {}

        const installed = !!plugins[cannonicalUrl]

        const getCodeButton = document.getElementById("get-code-button")

        console.log(getCodeButton)
        if (getCodeButton) {
            getCodeButton.style.display = "block"
            const url = currentUrl;
            const title = moduleEntry.title;
            const icon = moduleEntry.icon;
            const author = (moduleEntry.authors || []).join(", ");

            getCodeButton.textContent = installed ? "Installed" : "Install to IntelliJ";
            getCodeButton.classList.toggle('disabled', installed)

            getCodeButton.onclick = async (e) => {
                const result = await window.jcefFunctions.installKProjectDependency({
                    url, title, author, icon
                })
                init() // reinit
                return false
            }
        }
    }

    init()
</script>