---
layout: default
title: My Page
---

{% assign pageLinkParts = page.link | remove_first: "https://" | split: "/" %}
{% capture pageTitle %}github.com-{{ pageLinkParts[1] }}-{{ pageLinkParts[2] }}{% endcapture %}
{% assign repotag = site.repotags | where:"title", pageTitle | first %}
{% assign defaultTagP = repotag.tags|first|first %}
{% assign defaultTag = defaultTagP|first | default: "main" %}
{% assign defaultHash = defaultTagP|last | default: "main" %}
{% capture treeReplace %}/tree/{{ defaultTag }}/{% endcapture %}
{% assign link = page.link | replace: "/tree/main/", treeReplace %}

<script>
    const moduleEntry = {
        "cannonicalUrl": {{ page.link | absolute_url | jsonify }},
        "title": {{ page.title | jsonify }},
        "icon": {{ page.icon | absolute_url | jsonify }},
        "authors": {{ page.authors | default: "[korlibs]" | jsonify }},
    };
    const cannonicalUrl = {{ page.link | jsonify }};
    const defaultTag = {{ defaultTag | jsonify }};
    let currentCommitId = 'main';
    let currentUrl = cannonicalUrl;
    const tags = {
        {% for tag in repotag.tags -%}
        {% for t in tag -%}
        {{t|first|jsonify}}: {{t|last|jsonify}},
        {%- endfor %}
        {% endfor %}
    };
</script>

<div class="container">
    <div class="row">
        <h1>
            {% include goback.html %}
            {{ page.title }}
        </h1>
    </div>
    <div class="row ">
        <div class="col-3 order-2">
            {% include authors.html authors=page.authors %}

            <h3>
                Tags:
            </h3>
            <ul class="list-group">
                {% for ttag in repotag.newtags %}
                {% assign tagName = ttag[0] %}
                {% assign tag = ttag[1] %}
                <a href="#{{tagName}}" class="tagref list-group-item list-group-item-action">
                    {{ tagName }}
                    <small class="badge badge-info">{{ tag.date | date: "%Y-%m-%d" }}</small>
                    {% if tag.korgeVersion %}
                    <small class="badge badge-secondary">KorGE {{ tag.korgeVersion }}</small>
                    {% endif %}
                </a>
                {% endfor %}
            </ul>
        </div>
        <div class="col-9" id="main_content">
            <img src="{{ page.icon | absolute_url }}" style="width:128px;" />
        <p>

        {% include ads.html %}


<pre style="background:#eee; padding: 8px 16px; border-radius: 8px;margin:8px;">
dependencies:
- <span
    class="codechunk"
    data-link="{{ page.link }}"
><a href="{{ link }}" target="_blank">{{ link }}</a>##{{defaultHash}}</span>
</pre>
            <a id="get-code-button" class="add-to-intellij btn btn-primary" style="display: none" href="#">+ Add to IntelliJ</a>
        </p>

        {{ content }}

        </div>

    </div>
</div>

<style>
.tagref.selected {
    font-weight: bold;
}
</style>

<script>
    let currentTag = defaultTag;

    function getUrlTag(baseUrl) {
        const result = /\/tree\/(.*?)\//.exec(baseUrl)
        return result?.[1]
    }

    function getUrlForTag(tag, baseUrl = cannonicalUrl) {
        if (tag === undefined || tag === '') tag = defaultTag;
        const commitId = tags[tag]
        const url = baseUrl.replace(/\/tree\/(.*?)\//, `/tree/${tag}/`).split('##')[0]
        return {url, commitId}
    }


    async function init() {
        //alert(1)
        //await delay(100)
        //alert(JSON.stringify(window?.jcefFunctions))

        if (!window?.jcefFunctions?.getKProjectDependencies) return

        //alert("[a]")
        const pluginsList = (await getKProjectDependencies()) || []
        //alert("[b]")

        const pluginsMap = {};
        let removeUrl = null
        for (const plugin of pluginsList) {
            const tag = getUrlTag(plugin);
            const pluginCannonicalUrl = getUrlForTag('main', plugin).url
            // @TODO: Extract ref/version from url
            pluginsMap[pluginCannonicalUrl] = tag
            if (cannonicalUrl === pluginCannonicalUrl) {
                removeUrl = plugin
            }
        }

        //alert(JSON.stringify(pluginsMap))

        const installedTag = pluginsMap[cannonicalUrl]

        const getCodeButton = document.getElementById("get-code-button")

        console.log(getCodeButton)
        if (getCodeButton) {
            getCodeButton.style.display = "block"

            //alert(`installedTag=${installedTag}, currentTag=${currentTag}`)

            if (installedTag === currentTag) {
                getCodeButton.textContent = `Installed`;
                getCodeButton.classList.toggle('disabled', true)
            } else if (installedTag) {
                getCodeButton.textContent = `Update from ${installedTag} to ${currentTag}`;
                getCodeButton.classList.toggle('disabled', false)
            } else {
                getCodeButton.textContent = `Install to IntelliJ`;
                getCodeButton.classList.toggle('disabled', false)
            }

            //alert(2)

            getCodeButton.onclick = (e) => {
                (async () => {
                    //alert("clicked1: " + JSON.stringify(pluginsList))
                    try {
                        //alert("clicked2")
                        const url = `${currentUrl}##${currentCommitId}`;
                        const title = moduleEntry.title;
                        const icon = moduleEntry.icon;
                        const author = (moduleEntry.authors || []).join(", ");
                        const html = `<html>
                        <head>
                            <style>
                            :root {
                                --bgcolor: #3c3f41ff;
                                --labelcolor: #bbbbbbff;
                            }
                            body {
                                background: var(--bgcolor);
                                color: var(--labelcolor);
                                font: 14px Arial;
                            }
                            p {
                                margin: 0; padding: 0;
                            }
                            </style>
                        </head>
                        <body>
                            <${'script>'}
                            //setTimeout(() => { alert(document.head.innerHTML) }, 100)
                            </${'script>'}
                            <p><strong>Title:</strong> ${htmlspecialchars(title)}</p>
                            <p><strong>Author:</strong> ${htmlspecialchars(author)}</p>
                            <p style="white-space: nowrap"><strong>URL:</strong> ${htmlspecialchars(url)}</p>
                            <div>&nbsp;</div>
                            <img src="${htmlspecialchars(icon)}" style="max-height:calc(100vh - 6em);">
                        </body>
                    </html>`
                        //alert("clicked3")

                        await window.jcefFunctions.installKProjectDependency({
                            url, removeUrl, title, author, icon, html
                        })
                        initChecked() // reinit
                    } catch (e) {
                        alert(e)
                        throw e
                    }
                })()

                return false
            }
        }
    }

    async function initChecked() {
        try {
            await init()
        } catch (e) {
            error(e)
        }
    }

    function updateTags() {
        document.querySelectorAll(".tagref").forEach((it) => {
            const tag = it.href.split('#')[1]
            if (tag === currentTag) {
                it.classList.add("active")
            } else {
                it.classList.remove("active")
            }
        })
    }

    function updatedUrl() {
        let tag = document.location.href.split('#')[1]
        if (tag === undefined || tag === '') tag = defaultTag;
        const {commitId,url} = getUrlForTag(tag)
        currentTag = tag
        currentUrl = url;
        currentCommitId = commitId;
        //console.log(tag, commitId)
        document.querySelector(".codechunk").innerHTML = `<a href="${url}" target="_blank">${url}</a>##${commitId}`
        //alert(1)
        updateTags()
        //alert(2)
        //setTimeout(() => {
            initChecked()
        //}, 100)
        //alert(3)
    }

    /*
    async function downloadGithubFile(org, repo, ref, path) {
        const result = await fetch(`https://api.github.com/repos/${org}/${repo}/contents/${path}?ref=${ref}`)
        const json = await result.json()
        return atob(json.content.trim())
    }

    (async () => {
        //const content = await downloadGithubFile('korlibs', 'korge-jitto', '0.0.4', '/korge-jitto/README.md')
        const content = await downloadGithubFile('korlibs', 'korge-jitto', '0.0.4', '/korge-jitto/kproject.yml')
        const div = document.createElement("div")
        div.innerText = `${content}`
        document.body.appendChild(div)
    })();
     */

    /*
    (async () => {
        const result = await fetch("https://api.github.com/repos/korlibs/korge-dragonbones/tags")
        const json = await result.json()
        console.log(json)
        const div = document.createElement("div")
        div.innerText = `${JSON.stringify(json)}`
        document.body.appendChild(div)
    })();

     */

    //alert([...document.querySelectorAll(".bundle-entry")])

    async function getKProjectDependencies() {
        return await window?.jcefFunctions?.getKProjectDependencies?.({})
    }

    window.onpopstate = function(event) {
        updatedUrl()
    };

    updatedUrl()

</script>
